---
import Hero from "../components/hero.astro";
import Navbar from "../components/navbar.astro";
import Portafolio from "../components/portafolio.astro";
import Servicio from "../components/servicio.astro";
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Yoru Tech</title>
  </head>
  <body class="w-full mx-auto min-h-screen">
    <Navbar />
    <main class="flex flex-col gap-20 px-20">
      <Hero />
      <Servicio />
      <Portafolio />
    </main>
  </body>
</html>
