<section
  id="hero"
  class="bg-[#E0E0E0] rounded-md min-h-[700px] mt-8 flex drop-shadow-md shadow-black relative"
>
  <article class="flex flex-col gap-6 py-20 items-center">
    <img src="instagram.png" alt="instagram logo" class="w-8" />
    <img src="threads.png" alt="threads logo" class="w-8" />
    <img
      src="divisor.png"
      alt="threads logo"
      class="h-32 w-1 mb-6 rounded-lg"
    />
    <h2 class="uppercase -rotate-90 text-xl">Follow me!</h2>
  </article>
  <div class="flex flex-col pl-20 py-32 relative">
    <div
      class="bg-[url('circle-hero.png')] w-16 h-16 bg-no-repeat bg-contain absolute top-[110px] left-12"
    >
    </div>
    <h2 class="text-5xl z-10">Hola.</h2>
    <h1 class="text-6xl pt-8">
      Soy <span class="text-[#CD436D]">Cristian</span>
      <br /> pintor de figuras en resina y/o filamento
    </h1>
    <div class="flex gap-8 pt-16">
      <a
        href="#"
        class="bg-[#CD436D] text-white px-8 py-1 rounded-md text-2xl shadow-black drop-shadow-lg"
        >Servicio</a
      >
      <a
        href="#"
        class="bg-[#BDBDBD] text-white px-8 py-1 rounded-md text-2xl shadow-black drop-shadow-lg"
        >Portafolio</a
      >
    </div>
  </div>
  <div class="flex flex-col pt-4 absolute -right-20 items-center gap-8">
    <img
      src="cabeza-goku.png"
      alt="cabeza goku"
      class="w-auto h-[400px] shadow-black drop-shadow-lg object-contain"
    />
    <img
      src="divisor.png"
      alt="threads logo"
      class="h-32 w-1 rounded-lg ml-16"
    />
  </div>
</section>
