<nav class="flex justify-between pt-6 items-center px-20">
  <div
    class="bg-black rounded-full h-20 w-[360px] flex justify-center items-center pb-2"
  >
    <img src="logo.png" alt="Logo" class="h-36 w-[330px]" />
  </div>
  <ul class="flex gap-6">
    <li>
      <a href="#hero" class="text-3xl">Inicio</a>
    </li>
    <li>
      <a href="#" class="text-3xl">Servicio</a>
    </li>
    <li>
      <a href="#" class="text-3xl">Portafolio</a>
    </li>
    <li>
      <a href="#" class="text-3xl">Contacto</a>
    </li>
  </ul>
</nav>
