<section
  id="portafolio"
  class="bg-[#E0E0E0] rounded-md min-h-[750px] mb-16 flex drop-shadow-md shadow-black relative flex-col"
>
  <div>
    <h1
      id="letrasTitulo"
      class="uppercase text-[9rem] text-white absolute -left-12 inline-block"
    >
      Portafolio
    </h1>
  </div>
  <div class="grid grid-cols-4 gap-10 px-36 pt-48 pb-10">
    <img
      src="umaru.png"
      alt="imagen umaru-chan"
      class="col-span-1 object-contain"
    />
    <img
      id=""
      src="kiki.png"
      alt="imagen de kiki"
      class="col-span-1 object-contain"
    />

    <img
      id="shadoImagenes"
      src="2b.png"
      alt="imagen de 2b"
      class="col-span-2 row-span-2 object-contain"
    />
    <img
      id="shadoImagenes"
      src=" majinboo.png"
      alt="imagen de majinboo"
      class="col-span-2 row-span-1 object-contain"
    />
  </div>
</section>
