<section
  id="servicio"
  class="bg-[#E0E0E0] rounded-md min-h-[750px] flex flex-col drop-shadow-md shadow-black relative"
>
  <h2 class="text-9xl">Servicio</h2>
  <div class="flex px-40 py-20 justify-between relative">
    <article class="relative w-[430px]">
      <div
        class="bg-[url('circle-hero.png')] w-16 h-16 bg-no-repeat bg-contain absolute -z-10 -top-3 left-5"
      >
      </div>
      <h3 class="text-5xl text-center">Impresión en Resina</h3>
      <div class="flex flex-col gap-10 pt-20">
        <div class="relative">
          <div
            class="bg-[url('circle-hero.png')] w-8 h-8 bg-no-repeat bg-contain absolute -z-10 -left-5 top-6"
          >
          </div>
          <p class="text-xl">
            todas las figuras son impresas en resina de alta calidad para que
            los detalles destaquen, hay casos en que se utiliza filamento para
            las bases mas sencillas sin tanto detalle.
          </p>
        </div>
        <div class="relative">
          <div
            class="bg-[url('circle-hero.png')] w-8 h-8 bg-no-repeat bg-contain absolute -z-10 -left-5 top-3"
          >
          </div>
          <p class="text-xl">
            los tiempos de impresión de cada figura varia segun su tamaño y
            cantidad de piezas.
          </p>
        </div>
        <div class="relative">
          <div
            class="bg-[url('circle-hero.png')] w-8 h-8 bg-no-repeat bg-contain absolute -z-10 -left-5 top-3"
          >
          </div>
          <p class="text-xl">
            puedes solicitar tu figura sin pintar o pintada, en caso de ser
            pintada el tiempo de demora es un poco mas extensa.
          </p>
        </div>
      </div>
    </article>
    <div class="flex gap-8 w-[520px] flex-wrap justify-between">
      <div class="relative">
        <div
          class="bg-[url('circle-hero.png')] w-12 h-12 bg-no-repeat bg-contain absolute -left-5 flex items-center justify-center"
        >
          <span class="text-white">1</span>
        </div>
        <img
          src="servicio-1.jpg"
          alt="Imagen 1"
          class="aspect-square rounded-xl h-[200px] w-[280px]"
        />
      </div>
      <div class="relative">
        <div
          class="bg-[url('circle-hero.png')] w-12 h-12 bg-no-repeat bg-contain absolute -left-5 flex items-center justify-center"
        >
          <span class="text-white">2</span>
        </div>
        <img
          src="servicio-2.jpg"
          alt="Imagen 2"
          class="aspect-square rounded-xl h-[280px] w-[200px]"
        />
      </div>
      <div class="flex justify-end gap-8 w-[520px] relative">
        <div class="absolute -top-20 left-10">
          <div class="relative">
            <div
              class="bg-[url('circle-hero.png')] w-12 h-12 bg-no-repeat bg-contain absolute -left-5 flex items-center justify-center"
            >
              <span class="text-white">3</span>
            </div>
            <img
              src="servicio-3.jpg"
              alt="Imagen 3"
              class="aspect-square rounded-xl h-[280px] w-[200px]"
            />
          </div>
        </div>
        <div class="relative">
          <div
            class="bg-[url('circle-hero.png')] w-12 h-12 bg-no-repeat bg-contain absolute -left-5 flex items-center justify-center"
          >
            <span class="text-white">4</span>
          </div>
          <img
            src="servicio-4.jpg"
            alt="Imagen 4"
            class="aspect-square rounded-xl h-[280px] w-[200px]"
          />
        </div>
      </div>
    </div>
    <div class="absolute right-10 top-0 flex flex-col gap-32">
      <img src="divisor.png" alt="divisor" class="h-32 w-1 rounded-lg ml-16" />
      <img src="divisor.png" alt="divisor" class="h-32 w-1 rounded-lg ml-16" />
      <img src="divisor.png" alt="divisor" class="h-32 w-1 rounded-lg ml-16" />
    </div>
  </div>
</section>
